---
const userRegion = "EU"
const userRealm = "Silvermoon"
const userName ="Titanbeard"
const apiCall = await fetch('https://raider.io/api/v1/characters/profile?region=' +userRegion+ '&realm=' +userRealm+ '&name=' +userName+ '&fields=mythic_plus_best_runs:all,mythic_plus_alternate_runs:all')
const data = await apiCall.json();

const userKeyLevel = 15

const dungeons = {
  d0: "Algeth'ar Academy",
  d1: "Court of Stars",
  d2: "Halls of Valor",
  d3: "Ruby Life Pools",
  d4: "Shadowmoon Burial Grounds",
  d5: "Temple of the Jade Serpent",
  d6: "The Azure Vault",
  d7: "The Nokhud Offensive",
};

//create arrays for fort and tyr runs
let fortRunsExtracted = [];
let tyrRunsExtracted = [];

//extract from best runs to relevant array

function extractBestRuns(){
    let bestRunsData = data.mythic_plus_best_runs;
    for(let i=0; i<bestRunsData.length; i++){
        let specificObject={};

        specificObject.dungeon = bestRunsData[i].dungeon;
        specificObject.keyLevel = bestRunsData[i].mythic_level;
        specificObject.score = bestRunsData[i].score;
        specificObject.affixWeek = bestRunsData[i].affixes[0].name;
        specificObject.upgrades = bestRunsData[i].num_keystone_upgrades;
        specificObject.completeTime = bestRunsData[i].clear_time_ms;
        specificObject.parTime = bestRunsData[i].par_time_ms;

        if (specificObject.affixWeek === "Fortified"){
        fortRunsExtracted.push(specificObject);
        } else {
        tyrRunsExtracted.push(specificObject);
        }
}};

//extract from alt runs to relevant array

function extractAltRuns(){
    let altRunsData = data.mythic_plus_alternate_runs;
    for(let i=0; i<altRunsData.length; i++){
        let specificObject={};

        specificObject.dungeon = altRunsData[i].dungeon;
        specificObject.keyLevel = altRunsData[i].mythic_level;
        specificObject.score = altRunsData[i].score;
        specificObject.affixWeek = altRunsData[i].affixes[0].name;
        specificObject.upgrades = altRunsData[i].num_keystone_upgrades;
        specificObject.completeTime = altRunsData[i].clear_time_ms;
        specificObject.parTime = altRunsData[i].par_time_ms;

        if (specificObject.affixWeek === "Tyrannical"){
            tyrRunsExtracted.push(specificObject);
        } else {
            fortRunsExtracted.push(specificObject);
        }
    }
};

extractAltRuns();
extractBestRuns();

//sort arrays by dungeon alphabetically
function sortFort(){
    fortRunsExtracted.sort((a,b) => {
        const nameA = a.dungeon.toUpperCase(); // ignore upper and lowercase
        const nameB = b.dungeon.toUpperCase(); // ignore upper and lowercase
        if (nameA < nameB) {
            return -1;
        }
        if (nameA > nameB) {
            return 1;
        }
        // names must be equal
        return 0;
    });
}

function sortTyr(){
    tyrRunsExtracted.sort((a,b) => {
        const nameA = a.dungeon.toUpperCase(); // ignore upper and lowercase
        const nameB = b.dungeon.toUpperCase(); // ignore upper and lowercase
        if (nameA < nameB) {
            return -1;
        }
        if (nameA > nameB) {
            return 1;
        }
        // names must be equal
        return 0;
    });
}

sortFort();
sortTyr();

//computes the weighted scores for m+ rating

function weightScores(){
    for (let i=0; i<fortRunsExtracted.length; i++){
    let score1 = fortRunsExtracted[i].score;
    let score2 = tyrRunsExtracted[i].score;

    if (score1 > score2) {
        fortRunsExtracted[i].weightedScore = (score1*1.5);
        fortRunsExtracted[i].isBest = true;
        tyrRunsExtracted[i].weightedScore = (score1*0.5);
        tyrRunsExtracted[i].isBest = false;        
    } else if (score2 > score1) {
        fortRunsExtracted[i].weightedScore = (score1*0.5);
        fortRunsExtracted[i].isBest = false;
        tyrRunsExtracted[i].weightedScore = (score1*1.5);
        tyrRunsExtracted[i].isBest = true; 
    } else {
        fortRunsExtracted[i].weightedScore = score1;
        fortRunsExtracted[i].isBest = true;
        tyrRunsExtracted[i].weightedScore = score2;
        tyrRunsExtracted[i].isBest = true; 
    }
    } 
}

weightScores();

function weightCalcScore(tyrCurrentBase,fortCurrentBase,affix,keyLevel){

    //calculates base score for timing a key (minimum possible timing)
    let completionScore = null;
    const dungeonBaseScores = [0,40,45,55,60,65,75,80,85,100];

    if (keyLevel<=10){
        completionScore = dungeonBaseScores[keyLevel];
    } else {
        completionScore = (100 + 7*(keyLevel-10)) 
    }  
    //checks if calculated score will be new best and returns the weighted gain
    let compScore = completionScore;
    let baseTyr = tyrCurrentBase;
    let baseFort = fortCurrentBase;
    let testAffix = affix;
    let weightedGain = null;
    if (testAffix === "Fortified" && baseFort>baseTyr) {
        weightedGain = ((compScore*1.5)+(baseTyr*0.5)) - ((baseFort*1.5)+(baseTyr*0.5));
    } else if (testAffix==="Tyrannical" && baseTyr>baseFort) {
        weightedGain = ((compScore*1.5)+(baseFort*0.5)) - ((baseFort*0.5)+(baseTyr*1.5));
    } else if (testAffix === "Fortified" && baseTyr>baseFort && compScore>baseTyr){
        weightedGain = ((compScore*1.5)+(baseTyr*0.5)) - ((baseTyr*1.5)+(baseFort*0.5));
    } else if (testAffix === "Fortified" && baseTyr>baseFort && compScore<baseTyr ) {
        weightedGain = ((compScore*0.5)+(baseTyr*1.5)) - ((baseTyr*1.5)+(baseFort*0.5));
    } else if (testAffix === "Tyrannical" && baseFort>baseTyr && compScore>baseFort){
        weightedGain = ((compScore*1.5)+(baseFort*0.5)) - ((baseFort*1.5)+(baseTyr*0.5));
    } else if (testAffix === "Tyrannical" && baseFort>baseTyr && compScore<baseFort){
        weightedGain = ((compScore*0.5)+(baseFort*1.5)) - ((baseFort*1.5)+(baseTyr*0.5));
    } else if (testAffix === "Fortified" && baseFort===baseTyr) {
        weightedGain = ((compScore*1.5)+(baseTyr*0.5)) - (baseFort+baseTyr);
    } else if (testAffix==="Tyrannical" && baseTyr===baseFort) {
        weightedGain = ((compScore*1.5)+(baseFort*0.5)) - (baseFort+baseTyr);
    }

    if (weightedGain<0){
        return 0;
    } else {
        return weightedGain;
    }
}

// console.log(apiData);
---

<table>
  <thead>
    <tr>
      <th rowspan="2">Dungeon</th>
      <th colspan="2">Current Fortified Score</th>
      <th colspan="2">Current Tyrannical Score</th>
      <th colspan="2">Gain timing next key</th>
      <th colspan="2">Gain timing user key level</th>
    </tr>
    <tr>
      <th>Key Level</th>
      <th>Score</th>
      <th>Key Level</th>
      <th>Score</th>
      <th>Fortified</th>
      <th>Tyrannical</th>
      <th>Fortified</th>
      <th>Tyrannical</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{dungeons.d0}</td>
      <td>{fortRunsExtracted[0].keyLevel}</td>
      <td>{fortRunsExtracted[0].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[0].keyLevel}</td>
      <td>{tyrRunsExtracted[0].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[0].score,fortRunsExtracted[0].score,"Fortified",(fortRunsExtracted[0].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[0].score,fortRunsExtracted[0].score,"Tyrannical",(tyrRunsExtracted[0].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{dungeons.d1}</td>
      <td>{fortRunsExtracted[1].keyLevel}</td>
      <td>{fortRunsExtracted[1].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[1].keyLevel}</td>
      <td>{tyrRunsExtracted[1].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[1].score,fortRunsExtracted[1].score,"Fortified",(fortRunsExtracted[1].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[1].score,fortRunsExtracted[1].score,"Tyrannical",(tyrRunsExtracted[1].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{dungeons.d2}</td>
      <td>{fortRunsExtracted[2].keyLevel}</td>
      <td>{fortRunsExtracted[2].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[2].keyLevel}</td>
      <td>{tyrRunsExtracted[2].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[2].score,fortRunsExtracted[2].score,"Fortified",(fortRunsExtracted[2].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[2].score,fortRunsExtracted[2].score,"Tyrannical",(tyrRunsExtracted[2].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{dungeons.d3}</td>
      <td>{fortRunsExtracted[3].keyLevel}</td>
      <td>{fortRunsExtracted[3].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[3].keyLevel}</td>
      <td>{tyrRunsExtracted[3].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[3].score,fortRunsExtracted[3].score,"Fortified",(fortRunsExtracted[3].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[3].score,fortRunsExtracted[3].score,"Tyrannical",(tyrRunsExtracted[3].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{dungeons.d4}</td>
      <td>{fortRunsExtracted[4].keyLevel}</td>
      <td>{fortRunsExtracted[4].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[4].keyLevel}</td>
      <td>{tyrRunsExtracted[4].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[4].score,fortRunsExtracted[4].score,"Fortified",(fortRunsExtracted[4].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[4].score,fortRunsExtracted[4].score,"Tyrannical",(tyrRunsExtracted[4].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{dungeons.d5}</td>
      <td>{fortRunsExtracted[5].keyLevel}</td>
      <td>{fortRunsExtracted[5].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[5].keyLevel}</td>
      <td>{tyrRunsExtracted[5].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[5].score,fortRunsExtracted[5].score,"Fortified",(fortRunsExtracted[5].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[5].score,fortRunsExtracted[5].score,"Tyrannical",(tyrRunsExtracted[5].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{dungeons.d6}</td>
      <td>{fortRunsExtracted[6].keyLevel}</td>
      <td>{fortRunsExtracted[6].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[6].keyLevel}</td>
      <td>{tyrRunsExtracted[6].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[6].score,fortRunsExtracted[6].score,"Fortified",(fortRunsExtracted[6].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[6].score,fortRunsExtracted[6].score,"Tyrannical",(tyrRunsExtracted[6].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{dungeons.d7}</td>
      <td>{fortRunsExtracted[7].keyLevel}</td>
      <td>{fortRunsExtracted[7].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[7].keyLevel}</td>
      <td>{tyrRunsExtracted[7].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[7].score,fortRunsExtracted[7].score,"Fortified",(fortRunsExtracted[7].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[7].score,fortRunsExtracted[7].score,"Tyrannical",(tyrRunsExtracted[7].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
