---
const data = {
  name: "Titanbeard",
  race: "Dwarf",
  class: "Warrior",
  active_spec_name: "Protection",
  active_spec_role: "TANK",
  gender: "male",
  faction: "alliance",
  achievement_points: 16910,
  honorable_kills: 0,
  thumbnail_url:
    "https://render.worldofwarcraft.com/eu/character/silvermoon/146/203414674-avatar.jpg?alt=wow/static/images/2d/avatar/3-0.jpg",
  region: "eu",
  realm: "Silvermoon",
  last_crawled_at: "2023-03-17T05:29:43.000Z",
  profile_url: "https://raider.io/characters/eu/silvermoon/Titanbeard",
  profile_banner: "alliancebanner15",
  mythic_plus_best_runs: [
    {
      dungeon: "Shadowmoon Burial Grounds",
      short_name: "SBG",
      mythic_level: 14,
      completed_at: "2023-03-16T16:24:42.000Z",
      clear_time_ms: 1216645,
      par_time_ms: 1980999,
      num_keystone_upgrades: 2,
      map_challenge_mode_id: 165,
      zone_id: 6932,
      score: 132.8,
      affixes: [
        {
          id: 9,
          name: "Tyrannical",
          description:
            "Bosses have 30% more health. Bosses and their minions inflict up to 15% increased damage.",
          icon: "achievement_boss_archaedas",
          wowhead_url: "https://wowhead.com/affix=9",
        },
        {
          id: 6,
          name: "Raging",
          description:
            "Non-boss enemies enrage at 30% health remaining, dealing 50% increased damage until defeated.",
          icon: "ability_warrior_focusedrage",
          wowhead_url: "https://wowhead.com/affix=6",
        },
        {
          id: 124,
          name: "Storming",
          description:
            "While in combat, enemies periodically summon damaging whirlwinds.",
          icon: "spell_nature_cyclone",
          wowhead_url: "https://wowhead.com/affix=124",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/28074239-14-shadowmoon-burial-grounds",
    },
    {
      dungeon: "Court of Stars",
      short_name: "COS",
      mythic_level: 15,
      completed_at: "2023-02-28T17:55:26.000Z",
      clear_time_ms: 1988640,
      par_time_ms: 1800999,
      num_keystone_upgrades: 0,
      map_challenge_mode_id: 210,
      zone_id: 8079,
      score: 128.7,
      affixes: [
        {
          id: 10,
          name: "Fortified",
          description:
            "Non-boss enemies have 20% more health and inflict up to 30% increased damage.",
          icon: "ability_toughness",
          wowhead_url: "https://wowhead.com/affix=10",
        },
        {
          id: 6,
          name: "Raging",
          description:
            "Non-boss enemies enrage at 30% health remaining, dealing 50% increased damage until defeated.",
          icon: "ability_warrior_focusedrage",
          wowhead_url: "https://wowhead.com/affix=6",
        },
        {
          id: 14,
          name: "Quaking",
          description:
            "Periodically, all players emit a shockwave, inflicting damage and interrupting nearby allies.",
          icon: "spell_nature_earthquake",
          wowhead_url: "https://wowhead.com/affix=14",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/24326314-15-court-of-stars",
    },
    {
      dungeon: "The Azure Vault",
      short_name: "AV",
      mythic_level: 14,
      completed_at: "2023-02-11T07:27:14.000Z",
      clear_time_ms: 2032230,
      par_time_ms: 2040999,
      num_keystone_upgrades: 1,
      map_challenge_mode_id: 401,
      zone_id: 13954,
      score: 128.1,
      affixes: [
        {
          id: 10,
          name: "Fortified",
          description:
            "Non-boss enemies have 20% more health and inflict up to 30% increased damage.",
          icon: "ability_toughness",
          wowhead_url: "https://wowhead.com/affix=10",
        },
        {
          id: 11,
          name: "Bursting",
          description:
            "When slain, non-boss enemies explode, causing all players to suffer damage over 4 sec. This effect stacks.",
          icon: "ability_ironmaidens_whirlofblood",
          wowhead_url: "https://wowhead.com/affix=11",
        },
        {
          id: 13,
          name: "Explosive",
          description:
            "While in combat, enemies periodically summon Explosive Orbs that will detonate if not destroyed.",
          icon: "spell_fire_felflamering_red",
          wowhead_url: "https://wowhead.com/affix=13",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/18891638-14-the-azure-vault",
    },
    {
      dungeon: "Halls of Valor",
      short_name: "HOV",
      mythic_level: 13,
      completed_at: "2023-03-16T17:43:25.000Z",
      clear_time_ms: 1428184,
      par_time_ms: 2280999,
      num_keystone_upgrades: 2,
      map_challenge_mode_id: 200,
      zone_id: 7672,
      score: 125.7,
      affixes: [
        {
          id: 9,
          name: "Tyrannical",
          description:
            "Bosses have 30% more health. Bosses and their minions inflict up to 15% increased damage.",
          icon: "achievement_boss_archaedas",
          wowhead_url: "https://wowhead.com/affix=9",
        },
        {
          id: 6,
          name: "Raging",
          description:
            "Non-boss enemies enrage at 30% health remaining, dealing 50% increased damage until defeated.",
          icon: "ability_warrior_focusedrage",
          wowhead_url: "https://wowhead.com/affix=6",
        },
        {
          id: 124,
          name: "Storming",
          description:
            "While in combat, enemies periodically summon damaging whirlwinds.",
          icon: "spell_nature_cyclone",
          wowhead_url: "https://wowhead.com/affix=124",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/28098492-13-halls-of-valor",
    },
    {
      dungeon: "Algeth'ar Academy",
      short_name: "AA",
      mythic_level: 13,
      completed_at: "2023-03-16T17:10:19.000Z",
      clear_time_ms: 1587023,
      par_time_ms: 1920999,
      num_keystone_upgrades: 1,
      map_challenge_mode_id: 402,
      zone_id: 14032,
      score: 123.2,
      affixes: [
        {
          id: 9,
          name: "Tyrannical",
          description:
            "Bosses have 30% more health. Bosses and their minions inflict up to 15% increased damage.",
          icon: "achievement_boss_archaedas",
          wowhead_url: "https://wowhead.com/affix=9",
        },
        {
          id: 6,
          name: "Raging",
          description:
            "Non-boss enemies enrage at 30% health remaining, dealing 50% increased damage until defeated.",
          icon: "ability_warrior_focusedrage",
          wowhead_url: "https://wowhead.com/affix=6",
        },
        {
          id: 124,
          name: "Storming",
          description:
            "While in combat, enemies periodically summon damaging whirlwinds.",
          icon: "spell_nature_cyclone",
          wowhead_url: "https://wowhead.com/affix=124",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/28074232-13-algethar-academy",
    },
    {
      dungeon: "Temple of the Jade Serpent",
      short_name: "TJS",
      mythic_level: 13,
      completed_at: "2023-02-09T23:18:35.000Z",
      clear_time_ms: 1697484,
      par_time_ms: 1800999,
      num_keystone_upgrades: 1,
      map_challenge_mode_id: 2,
      zone_id: 5965,
      score: 121.7,
      affixes: [
        {
          id: 10,
          name: "Fortified",
          description:
            "Non-boss enemies have 20% more health and inflict up to 30% increased damage.",
          icon: "ability_toughness",
          wowhead_url: "https://wowhead.com/affix=10",
        },
        {
          id: 11,
          name: "Bursting",
          description:
            "When slain, non-boss enemies explode, causing all players to suffer damage over 4 sec. This effect stacks.",
          icon: "ability_ironmaidens_whirlofblood",
          wowhead_url: "https://wowhead.com/affix=11",
        },
        {
          id: 13,
          name: "Explosive",
          description:
            "While in combat, enemies periodically summon Explosive Orbs that will detonate if not destroyed.",
          icon: "spell_fire_felflamering_red",
          wowhead_url: "https://wowhead.com/affix=13",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/18523846-13-temple-of-the-jade-serpent",
    },
    {
      dungeon: "Ruby Life Pools",
      short_name: "RLP",
      mythic_level: 14,
      completed_at: "2023-02-12T13:27:44.000Z",
      clear_time_ms: 2190005,
      par_time_ms: 1800999,
      num_keystone_upgrades: 0,
      map_challenge_mode_id: 399,
      zone_id: 14063,
      score: 120.3,
      affixes: [
        {
          id: 10,
          name: "Fortified",
          description:
            "Non-boss enemies have 20% more health and inflict up to 30% increased damage.",
          icon: "ability_toughness",
          wowhead_url: "https://wowhead.com/affix=10",
        },
        {
          id: 11,
          name: "Bursting",
          description:
            "When slain, non-boss enemies explode, causing all players to suffer damage over 4 sec. This effect stacks.",
          icon: "ability_ironmaidens_whirlofblood",
          wowhead_url: "https://wowhead.com/affix=11",
        },
        {
          id: 13,
          name: "Explosive",
          description:
            "While in combat, enemies periodically summon Explosive Orbs that will detonate if not destroyed.",
          icon: "spell_fire_felflamering_red",
          wowhead_url: "https://wowhead.com/affix=13",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/19298296-14-ruby-life-pools",
    },
    {
      dungeon: "The Nokhud Offensive",
      short_name: "NO",
      mythic_level: 12,
      completed_at: "2023-01-17T10:29:41.000Z",
      clear_time_ms: 1898265,
      par_time_ms: 2400999,
      num_keystone_upgrades: 2,
      map_challenge_mode_id: 400,
      zone_id: 13982,
      score: 116.6,
      affixes: [
        {
          id: 10,
          name: "Fortified",
          description:
            "Non-boss enemies have 20% more health and inflict up to 30% increased damage.",
          icon: "ability_toughness",
          wowhead_url: "https://wowhead.com/affix=10",
        },
        {
          id: 123,
          name: "Spiteful",
          description:
            "Fiends rise from the corpses of non-boss enemies and pursue random players.",
          icon: "spell_holy_prayerofshadowprotection",
          wowhead_url: "https://wowhead.com/affix=123",
        },
        {
          id: 12,
          name: "Grievous",
          description:
            "Injured players suffer increasing damage over time until healed.",
          icon: "ability_backstab",
          wowhead_url: "https://wowhead.com/affix=12",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/12186379-12-the-nokhud-offensive",
    },
  ],
  mythic_plus_alternate_runs: [
    {
      dungeon: "Court of Stars",
      short_name: "COS",
      mythic_level: 13,
      completed_at: "2023-02-19T16:04:32.000Z",
      clear_time_ms: 1367176,
      par_time_ms: 1800999,
      num_keystone_upgrades: 2,
      map_challenge_mode_id: 210,
      zone_id: 8079,
      score: 124,
      affixes: [
        {
          id: 9,
          name: "Tyrannical",
          description:
            "Bosses have 30% more health. Bosses and their minions inflict up to 15% increased damage.",
          icon: "achievement_boss_archaedas",
          wowhead_url: "https://wowhead.com/affix=9",
        },
        {
          id: 7,
          name: "Bolstering",
          description:
            "When any non-boss enemy dies, its death cry empowers nearby allies, temporarily increasing their maximum health by 15% and damage by 20%.",
          icon: "ability_warrior_battleshout",
          wowhead_url: "https://wowhead.com/affix=7",
        },
        {
          id: 3,
          name: "Volcanic",
          description:
            "While in combat, enemies periodically cause gouts of flame to erupt beneath the feet of distant players.",
          icon: "spell_shaman_lavasurge",
          wowhead_url: "https://wowhead.com/affix=3",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/21618017-13-court-of-stars",
    },
    {
      dungeon: "The Azure Vault",
      short_name: "AV",
      mythic_level: 12,
      completed_at: "2023-02-16T15:29:07.000Z",
      clear_time_ms: 1507495,
      par_time_ms: 2130999,
      num_keystone_upgrades: 2,
      map_challenge_mode_id: 401,
      zone_id: 13954,
      score: 117.7,
      affixes: [
        {
          id: 9,
          name: "Tyrannical",
          description:
            "Bosses have 30% more health. Bosses and their minions inflict up to 15% increased damage.",
          icon: "achievement_boss_archaedas",
          wowhead_url: "https://wowhead.com/affix=9",
        },
        {
          id: 7,
          name: "Bolstering",
          description:
            "When any non-boss enemy dies, its death cry empowers nearby allies, temporarily increasing their maximum health by 15% and damage by 20%.",
          icon: "ability_warrior_battleshout",
          wowhead_url: "https://wowhead.com/affix=7",
        },
        {
          id: 3,
          name: "Volcanic",
          description:
            "While in combat, enemies periodically cause gouts of flame to erupt beneath the feet of distant players.",
          icon: "spell_shaman_lavasurge",
          wowhead_url: "https://wowhead.com/affix=3",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/20560268-12-the-azure-vault",
    },
    {
      dungeon: "Temple of the Jade Serpent",
      short_name: "TJS",
      mythic_level: 12,
      completed_at: "2023-02-15T17:43:14.000Z",
      clear_time_ms: 1343855,
      par_time_ms: 1800999,
      num_keystone_upgrades: 2,
      map_challenge_mode_id: 2,
      zone_id: 5965,
      score: 117.2,
      affixes: [
        {
          id: 9,
          name: "Tyrannical",
          description:
            "Bosses have 30% more health. Bosses and their minions inflict up to 15% increased damage.",
          icon: "achievement_boss_archaedas",
          wowhead_url: "https://wowhead.com/affix=9",
        },
        {
          id: 7,
          name: "Bolstering",
          description:
            "When any non-boss enemy dies, its death cry empowers nearby allies, temporarily increasing their maximum health by 15% and damage by 20%.",
          icon: "ability_warrior_battleshout",
          wowhead_url: "https://wowhead.com/affix=7",
        },
        {
          id: 3,
          name: "Volcanic",
          description:
            "While in combat, enemies periodically cause gouts of flame to erupt beneath the feet of distant players.",
          icon: "spell_shaman_lavasurge",
          wowhead_url: "https://wowhead.com/affix=3",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/20376060-12-temple-of-the-jade-serpent",
    },
    {
      dungeon: "Algeth'ar Academy",
      short_name: "AA",
      mythic_level: 12,
      completed_at: "2023-02-26T02:50:33.000Z",
      clear_time_ms: 1443943,
      par_time_ms: 1920999,
      num_keystone_upgrades: 2,
      map_challenge_mode_id: 402,
      zone_id: 14032,
      score: 117.1,
      affixes: [
        {
          id: 10,
          name: "Fortified",
          description:
            "Non-boss enemies have 20% more health and inflict up to 30% increased damage.",
          icon: "ability_toughness",
          wowhead_url: "https://wowhead.com/affix=10",
        },
        {
          id: 6,
          name: "Raging",
          description:
            "Non-boss enemies enrage at 30% health remaining, dealing 50% increased damage until defeated.",
          icon: "ability_warrior_focusedrage",
          wowhead_url: "https://wowhead.com/affix=6",
        },
        {
          id: 14,
          name: "Quaking",
          description:
            "Periodically, all players emit a shockwave, inflicting damage and interrupting nearby allies.",
          icon: "spell_nature_earthquake",
          wowhead_url: "https://wowhead.com/affix=14",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/23672332-12-algethar-academy",
    },
    {
      dungeon: "Halls of Valor",
      short_name: "HOV",
      mythic_level: 13,
      completed_at: "2023-02-28T17:11:37.000Z",
      clear_time_ms: 2651711,
      par_time_ms: 2280999,
      num_keystone_upgrades: 0,
      map_challenge_mode_id: 200,
      zone_id: 7672,
      score: 114,
      affixes: [
        {
          id: 10,
          name: "Fortified",
          description:
            "Non-boss enemies have 20% more health and inflict up to 30% increased damage.",
          icon: "ability_toughness",
          wowhead_url: "https://wowhead.com/affix=10",
        },
        {
          id: 6,
          name: "Raging",
          description:
            "Non-boss enemies enrage at 30% health remaining, dealing 50% increased damage until defeated.",
          icon: "ability_warrior_focusedrage",
          wowhead_url: "https://wowhead.com/affix=6",
        },
        {
          id: 14,
          name: "Quaking",
          description:
            "Periodically, all players emit a shockwave, inflicting damage and interrupting nearby allies.",
          icon: "spell_nature_earthquake",
          wowhead_url: "https://wowhead.com/affix=14",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/24326249-13-halls-of-valor",
    },
    {
      dungeon: "Shadowmoon Burial Grounds",
      short_name: "SBG",
      mythic_level: 11,
      completed_at: "2023-01-29T17:39:29.000Z",
      clear_time_ms: 1393208,
      par_time_ms: 1980999,
      num_keystone_upgrades: 2,
      map_challenge_mode_id: 165,
      zone_id: 6932,
      score: 110.7,
      affixes: [
        {
          id: 10,
          name: "Fortified",
          description:
            "Non-boss enemies have 20% more health and inflict up to 30% increased damage.",
          icon: "ability_toughness",
          wowhead_url: "https://wowhead.com/affix=10",
        },
        {
          id: 7,
          name: "Bolstering",
          description:
            "When any non-boss enemy dies, its death cry empowers nearby allies, temporarily increasing their maximum health by 15% and damage by 20%.",
          icon: "ability_warrior_battleshout",
          wowhead_url: "https://wowhead.com/affix=7",
        },
        {
          id: 124,
          name: "Storming",
          description:
            "While in combat, enemies periodically summon damaging whirlwinds.",
          icon: "spell_nature_cyclone",
          wowhead_url: "https://wowhead.com/affix=124",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/15482413-11-shadowmoon-burial-grounds",
    },
    {
      dungeon: "The Nokhud Offensive",
      short_name: "NO",
      mythic_level: 11,
      completed_at: "2023-03-02T12:48:23.000Z",
      clear_time_ms: 1798978,
      par_time_ms: 2400999,
      num_keystone_upgrades: 2,
      map_challenge_mode_id: 400,
      zone_id: 13982,
      score: 110.1,
      affixes: [
        {
          id: 9,
          name: "Tyrannical",
          description:
            "Bosses have 30% more health. Bosses and their minions inflict up to 15% increased damage.",
          icon: "achievement_boss_archaedas",
          wowhead_url: "https://wowhead.com/affix=9",
        },
        {
          id: 11,
          name: "Bursting",
          description:
            "When slain, non-boss enemies explode, causing all players to suffer damage over 4 sec. This effect stacks.",
          icon: "ability_ironmaidens_whirlofblood",
          wowhead_url: "https://wowhead.com/affix=11",
        },
        {
          id: 12,
          name: "Grievous",
          description:
            "Injured players suffer increasing damage over time until healed.",
          icon: "ability_backstab",
          wowhead_url: "https://wowhead.com/affix=12",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/24718231-11-the-nokhud-offensive",
    },
    {
      dungeon: "Ruby Life Pools",
      short_name: "RLP",
      mythic_level: 11,
      completed_at: "2023-02-15T18:12:38.000Z",
      clear_time_ms: 1401310,
      par_time_ms: 1800999,
      num_keystone_upgrades: 2,
      map_challenge_mode_id: 399,
      zone_id: 14063,
      score: 109.8,
      affixes: [
        {
          id: 9,
          name: "Tyrannical",
          description:
            "Bosses have 30% more health. Bosses and their minions inflict up to 15% increased damage.",
          icon: "achievement_boss_archaedas",
          wowhead_url: "https://wowhead.com/affix=9",
        },
        {
          id: 7,
          name: "Bolstering",
          description:
            "When any non-boss enemy dies, its death cry empowers nearby allies, temporarily increasing their maximum health by 15% and damage by 20%.",
          icon: "ability_warrior_battleshout",
          wowhead_url: "https://wowhead.com/affix=7",
        },
        {
          id: 3,
          name: "Volcanic",
          description:
            "While in combat, enemies periodically cause gouts of flame to erupt beneath the feet of distant players.",
          icon: "spell_shaman_lavasurge",
          wowhead_url: "https://wowhead.com/affix=3",
        },
        {
          id: 132,
          name: "Thundering",
          description:
            "Enemies have 5% more health. While in combat, players are periodically overcharged with primal power from Raszageth's unending storm. This power comes with great risk, and failure to discharge it quickly can have stunning consequences.",
          icon: "spell_shaman_thunderstorm",
          wowhead_url: "https://wowhead.com/affix=132",
        },
      ],
      url: "https://raider.io/mythic-plus-runs/season-df-1/20376063-11-ruby-life-pools",
    },
  ],
};
const dungeons = {
  d0: "Algeth'ar Academy",
  d1: "Court of Stars",
  d2: "Halls of Valor",
  d3: "Ruby Life Pools",
  d4: "Shadowmoon Burial Grounds",
  d5: "Temple of the Jade Serpent",
  d6: "The Azure Vault",
  d7: "The Nokhud Offensive",
};

//create arrays for fort and tyr runs
let fortRunsExtracted = [];
let tyrRunsExtracted = [];

//extract from best runs to relevant array

function extractBestRuns(){
    let bestRunsData = data.mythic_plus_best_runs;
    for(let i=0; i<bestRunsData.length; i++){
        let specificObject={};

        specificObject.dungeon = bestRunsData[i].dungeon;
        specificObject.keyLevel = bestRunsData[i].mythic_level;
        specificObject.score = bestRunsData[i].score;
        specificObject.affixWeek = bestRunsData[i].affixes[0].name;
        specificObject.upgrades = bestRunsData[i].num_keystone_upgrades;
        specificObject.completeTime = bestRunsData[i].clear_time_ms;
        specificObject.parTime = bestRunsData[i].par_time_ms;

        if (specificObject.affixWeek === "Fortified"){
        fortRunsExtracted.push(specificObject);
        } else {
        tyrRunsExtracted.push(specificObject);
        }
}};

//extract from alt runs to relevant array

function extractAltRuns(){
    let altRunsData = data.mythic_plus_alternate_runs;
    for(let i=0; i<altRunsData.length; i++){
        let specificObject={};

        specificObject.dungeon = altRunsData[i].dungeon;
        specificObject.keyLevel = altRunsData[i].mythic_level;
        specificObject.score = altRunsData[i].score;
        specificObject.affixWeek = altRunsData[i].affixes[0].name;
        specificObject.upgrades = altRunsData[i].num_keystone_upgrades;
        specificObject.completeTime = altRunsData[i].clear_time_ms;
        specificObject.parTime = altRunsData[i].par_time_ms;

        if (specificObject.affixWeek === "Tyrannical"){
            tyrRunsExtracted.push(specificObject);
        } else {
            fortRunsExtracted.push(specificObject);
        }
    }
};

extractAltRuns();
extractBestRuns();

//sort arrays by dungeon alphabetically

fortRunsExtracted.sort((a,b) => {
    const nameA = a.dungeon.toUpperCase(); // ignore upper and lowercase
    const nameB = b.dungeon.toUpperCase(); // ignore upper and lowercase
    if (nameA < nameB) {
        return -1;
    }
    if (nameA > nameB) {
        return 1;
    }
    // names must be equal
    return 0;
});

tyrRunsExtracted.sort((a,b) => {
    const nameA = a.dungeon.toUpperCase(); // ignore upper and lowercase
    const nameB = b.dungeon.toUpperCase(); // ignore upper and lowercase
    if (nameA < nameB) {
        return -1;
    }
    if (nameA > nameB) {
        return 1;
    }
    // names must be equal
    return 0;
});

//computes the weighted scores for m+ rating

function weightScores(){
    for (let i=0; i<fortRunsExtracted.length; i++){
    let score1 = fortRunsExtracted[i].score;
    let score2 = tyrRunsExtracted[i].score;

    if (score1 > score2) {
        fortRunsExtracted[i].weightedScore = (score1*1.5);
        fortRunsExtracted[i].isBest = true;
        tyrRunsExtracted[i].weightedScore = (score1*0.5);
        tyrRunsExtracted[i].isBest = false;        
    } else if (score2 > score1) {
        fortRunsExtracted[i].weightedScore = (score1*0.5);
        fortRunsExtracted[i].isBest = false;
        tyrRunsExtracted[i].weightedScore = (score1*1.5);
        tyrRunsExtracted[i].isBest = true; 
    } else {
        fortRunsExtracted[i].weightedScore = score1;
        fortRunsExtracted[i].isBest = true;
        tyrRunsExtracted[i].weightedScore = score2;
        tyrRunsExtracted[i].isBest = true; 
    }
    } 
}

weightScores();


function calcBaseScore(keyLevel){

}


function weightCalcScore(tyrCurrentBase,fortCurrentBase,affix,keyLevel){

    //calculates base score for timing a key (minimum possible timing)
    let completionScore = null;
    const dungeonBaseScores = [0,40,45,55,60,65,75,80,85,100];

    if (keyLevel<=10){
        completionScore = dungeonBaseScores[keyLevel];
    } else {
        completionScore = (100 + 7*(keyLevel-10)) 
    }  
    //checks if calculated score will be new best and returns the weighted gain
    let compScore = completionScore;
    let baseTyr = tyrCurrentBase;
    let baseFort = fortCurrentBase;
    let testAffix = affix;
    let weightedGain = null;
    if (testAffix === "Fortified" && baseFort>baseTyr) {
        weightedGain = ((compScore*1.5)+(baseTyr*0.5)) - ((baseFort*1.5)+(baseTyr*0.5));
    } else if (testAffix==="Tyrannical" && baseTyr>baseFort) {
        weightedGain = ((compScore*1.5)+(baseFort*0.5)) - ((baseFort*0.5)+(baseTyr*1.5));
    } else if (testAffix === "Fortified" && baseTyr>baseFort && compScore>baseTyr){
        weightedGain = ((compScore*1.5)+(baseTyr*0.5)) - ((baseTyr*1.5)+(baseFort*0.5));
    } else if (testAffix === "Fortified" && baseTyr>baseFort && compScore<baseTyr ) {
        weightedGain = ((compScore*0.5)+(baseTyr*1.5)) - ((baseTyr*1.5)+(baseFort*0.5));
    } else if (testAffix === "Tyrannical" && baseFort>baseTyr && compScore>baseFort){
        weightedGain = ((compScore*1.5)+(baseFort*0.5)) - ((baseFort*1.5)+(baseTyr*0.5));
    } else if (testAffix === "Tyrannical" && baseFort>baseTyr && compScore<baseFort){
        weightedGain = ((compScore*0.5)+(baseFort*1.5)) - ((baseFort*1.5)+(baseTyr*0.5));
    } else if (testAffix === "Fortified" && baseFort===baseTyr) {
        weightedGain = ((compScore*1.5)+(baseTyr*0.5)) - (baseFort+baseTyr);
    } else if (testAffix==="Tyrannical" && baseTyr===baseFort) {
        weightedGain = ((compScore*1.5)+(baseFort*0.5)) - (baseFort+baseTyr);
    }

    if (weightedGain<0){
        return 0;
    } else {
        return weightedGain;
    }
}

---

<table>
  <thead>
    <tr>
      <th rowspan="2">Dungeon</th>
      <th colspan="2">Current Fortified Score</th>
      <th colspan="2">Current Tyrannical Score</th>
      <th colspan="2">Gain timing next key</th>
      <th colspan="2">Gain timing user key level</th>
    </tr>
    <tr>
      <th>Key Level</th>
      <th>Score</th>
      <th>Key Level</th>
      <th>Score</th>
      <th>Fortified</th>
      <th>Tyrannical</th>
      <th>Fortified</th>
      <th>Tyrannical</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{dungeons.d0}</td>
      <td>{fortRunsExtracted[0].keyLevel}</td>
      <td>{fortRunsExtracted[0].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[0].keyLevel}</td>
      <td>{tyrRunsExtracted[0].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[0].score,fortRunsExtracted[0].score,"Fortified",(fortRunsExtracted[0].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[0].score,fortRunsExtracted[0].score,"Tyrannical",(tyrRunsExtracted[0].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{dungeons.d1}</td>
      <td>{fortRunsExtracted[1].keyLevel}</td>
      <td>{fortRunsExtracted[1].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[1].keyLevel}</td>
      <td>{tyrRunsExtracted[1].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[1].score,fortRunsExtracted[1].score,"Fortified",(fortRunsExtracted[1].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[1].score,fortRunsExtracted[1].score,"Tyrannical",(tyrRunsExtracted[1].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{dungeons.d2}</td>
      <td>{fortRunsExtracted[2].keyLevel}</td>
      <td>{fortRunsExtracted[2].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[2].keyLevel}</td>
      <td>{tyrRunsExtracted[2].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[2].score,fortRunsExtracted[2].score,"Fortified",(fortRunsExtracted[2].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[2].score,fortRunsExtracted[2].score,"Tyrannical",(tyrRunsExtracted[2].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{dungeons.d3}</td>
      <td>{fortRunsExtracted[3].keyLevel}</td>
      <td>{fortRunsExtracted[3].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[3].keyLevel}</td>
      <td>{tyrRunsExtracted[3].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[3].score,fortRunsExtracted[3].score,"Fortified",(fortRunsExtracted[3].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[3].score,fortRunsExtracted[3].score,"Tyrannical",(tyrRunsExtracted[3].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{dungeons.d4}</td>
      <td>{fortRunsExtracted[4].keyLevel}</td>
      <td>{fortRunsExtracted[4].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[4].keyLevel}</td>
      <td>{tyrRunsExtracted[4].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[4].score,fortRunsExtracted[4].score,"Fortified",(fortRunsExtracted[4].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[4].score,fortRunsExtracted[4].score,"Tyrannical",(tyrRunsExtracted[4].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{dungeons.d5}</td>
      <td>{fortRunsExtracted[5].keyLevel}</td>
      <td>{fortRunsExtracted[5].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[5].keyLevel}</td>
      <td>{tyrRunsExtracted[5].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[5].score,fortRunsExtracted[5].score,"Fortified",(fortRunsExtracted[5].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[5].score,fortRunsExtracted[5].score,"Tyrannical",(tyrRunsExtracted[5].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{dungeons.d6}</td>
      <td>{fortRunsExtracted[6].keyLevel}</td>
      <td>{fortRunsExtracted[6].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[6].keyLevel}</td>
      <td>{tyrRunsExtracted[6].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[6].score,fortRunsExtracted[6].score,"Fortified",(fortRunsExtracted[6].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[6].score,fortRunsExtracted[6].score,"Tyrannical",(tyrRunsExtracted[6].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>{dungeons.d7}</td>
      <td>{fortRunsExtracted[7].keyLevel}</td>
      <td>{fortRunsExtracted[7].weightedScore.toFixed(1)}</td>
      <td>{tyrRunsExtracted[7].keyLevel}</td>
      <td>{tyrRunsExtracted[7].weightedScore.toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[7].score,fortRunsExtracted[7].score,"Fortified",(fortRunsExtracted[7].keyLevel +1)).toFixed(1)}</td>
      <td>{weightCalcScore(tyrRunsExtracted[7].score,fortRunsExtracted[7].score,"Tyrannical",(tyrRunsExtracted[7].keyLevel +1)).toFixed(1)}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
